.w-5p {
  width: 5%;
}

.w-10p {
  width: 10%;
}

.w-15p {
  width: 15%;
}

.w-20p {
  width: 20%;
}

.w-25p {
  width: 25%;
}

.w-30p {
  width: 30%;
}

.w-35p {
  width: 35%;
}

.w-40p {
  width: 40%;
}

.w-45p {
  width: 45%;
}

.w-50p {
  width: 50%;
}

.w-55p {
  width: 55%;
}

.w-60p {
  width: 60%;
}

.w-65p {
  width: 65%;
}

.w-70p {
  width: 70%;
}

.w-75p {
  width: 75%;
}

.w-80p {
  width: 80%;
}

.w-85p {
  width: 85%;
}

.w-90p {
  width: 90%;
}

.w-95p {
  width: 95%;
}

.w-100p {
  width: 100%;
}

.w-auto {
  width: auto;
}

.container {
  width: 95%;
  margin: auto;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.t-justify {
  text-align: justify;
}

.f-wrap {
  flex-wrap: wrap;
}

.f-nowrap {
  flex-wrap: nowrap;
}

.justify-content-left {
  justify-content: left;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-right {
  justify-content: right;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.align-item-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-none {
  display: none;
}

.m-auto {
  margin: auto;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: bolder;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.m-top-0 {
  margin-top: 0px;
}

.m-top-1 {
  margin-top: 10px;
}

.m-top-2 {
  margin-top: 20px;
}

.m-top-3 {
  margin-top: 30px;
}

.m-top-4 {
  margin-top: 40px;
}

.m-top-5 {
  margin-top: 50px;
}

.m-top-6 {
  margin-top: 60px;
}

.m-bot-0 {
  margin-bottom: 0px;
}

.m-bot-1 {
  margin-bottom: 10px;
}

.m-bot-2 {
  margin-bottom: 20px;
}

.m-bot-3 {
  margin-bottom: 30px;
}

.m-bot-4 {
  margin-bottom: 40px;
}

.m-bot-5 {
  margin-bottom: 50px;
}

.m-bot-6 {
  margin-bottom: 60px;
}

.m-left-0 {
  margin-left: 0px;
}

.m-left-1 {
  margin-left: 10px;
}

.m-left-2 {
  margin-left: 20px;
}

.m-left-3 {
  margin-left: 30px;
}

.m-left-4 {
  margin-left: 40px;
}

.m-left-5 {
  margin-left: 50px;
}

.m-left-6 {
  margin-left: 60px;
}

.m-right-0 {
  margin-right: 0px;
}

.m-right-1 {
  margin-right: 10px;
}

.m-right-2 {
  margin-right: 20px;
}

.m-right-3 {
  margin-right: 30px;
}

.m-right-4 {
  margin-right: 40px;
}

.m-right-5 {
  margin-right: 50px;
}

.m-right-6 {
  margin-right: 60px;
}

.m-y-0 {
  margin: 0px 0;
}

.m-y-1 {
  margin: 10px 0;
}

.m-y-2 {
  margin: 20px 0;
}

.m-y-3 {
  margin: 30px 0;
}

.m-y-4 {
  margin: 40px 0;
}

.m-y-5 {
  margin: 50px 0;
}

.m-y-6 {
  margin: 60px 0;
}

.m-x-0 {
  margin: 0 0px;
}

.m-x-1 {
  margin: 0 10px;
}

.m-x-2 {
  margin: 0 20px;
}

.m-x-3 {
  margin: 0 30px;
}

.m-x-4 {
  margin: 0 40px;
}

.m-x-5 {
  margin: 0 50px;
}

.m-x-6 {
  margin: 0 60px;
}

.m-0 {
  margin: 0px 0px;
}

.m-1 {
  margin: 10px 10px;
}

.m-2 {
  margin: 20px 20px;
}

.m-3 {
  margin: 30px 30px;
}

.m-4 {
  margin: 40px 40px;
}

.m-5 {
  margin: 50px 50px;
}

.m-6 {
  margin: 60px 60px;
}

.p-top-0 {
  padding-top: 0px;
}

.p-top-1 {
  padding-top: 10px;
}

.p-top-2 {
  padding-top: 20px;
}

.p-top-3 {
  padding-top: 30px;
}

.p-top-4 {
  padding-top: 40px;
}

.p-top-5 {
  padding-top: 50px;
}

.p-top-6 {
  padding-top: 60px;
}

.p-bot-0 {
  padding-bottom: 0px;
}

.p-bot-1 {
  padding-bottom: 10px;
}

.p-bot-2 {
  padding-bottom: 20px;
}

.p-bot-3 {
  padding-bottom: 30px;
}

.p-bot-4 {
  padding-bottom: 40px;
}

.p-bot-5 {
  padding-bottom: 50px;
}

.p-bot-6 {
  padding-bottom: 60px;
}

.p-left-0 {
  padding-left: 0px;
}

.p-left-1 {
  padding-left: 10px;
}

.p-left-2 {
  padding-left: 20px;
}

.p-left-3 {
  padding-left: 30px;
}

.p-left-4 {
  padding-left: 40px;
}

.p-left-5 {
  padding-left: 50px;
}

.p-left-6 {
  padding-left: 60px;
}

.p-right-0 {
  padding-right: 0px;
}

.p-right-1 {
  padding-right: 10px;
}

.p-right-2 {
  padding-right: 20px;
}

.p-right-3 {
  padding-right: 30px;
}

.p-right-4 {
  padding-right: 40px;
}

.p-right-5 {
  padding-right: 50px;
}

.p-right-6 {
  padding-right: 60px;
}

.p-y-0 {
  padding: 0px 0;
}

.p-y-1 {
  padding: 10px 0;
}

.p-y-2 {
  padding: 20px 0;
}

.p-y-3 {
  padding: 30px 0;
}

.p-y-4 {
  padding: 40px 0;
}

.p-y-5 {
  padding: 50px 0;
}

.p-y-6 {
  padding: 60px 0;
}

.p-x-0 {
  padding: 0 0px;
}

.p-x-1 {
  padding: 0 10px;
}

.p-x-2 {
  padding: 0 20px;
}

.p-x-3 {
  padding: 0 30px;
}

.p-x-4 {
  padding: 0 40px;
}

.p-x-5 {
  padding: 0 50px;
}

.p-x-6 {
  padding: 0 60px;
}

.p-0 {
  padding: 0px 0px;
}

.p-1 {
  padding: 10px 10px;
}

.p-2 {
  padding: 20px 20px;
}

.p-3 {
  padding: 30px 30px;
}

.p-4 {
  padding: 40px 40px;
}

.p-5 {
  padding: 50px 50px;
}

.p-6 {
  padding: 60px 60px;
}

.font-size-1 {
  font-size: 1px;
}

.font-size-2 {
  font-size: 2px;
}

.font-size-3 {
  font-size: 3px;
}

.font-size-4 {
  font-size: 4px;
}

.font-size-5 {
  font-size: 5px;
}

.font-size-6 {
  font-size: 6px;
}

.font-size-7 {
  font-size: 7px;
}

.font-size-8 {
  font-size: 8px;
}

.font-size-9 {
  font-size: 9px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-27 {
  font-size: 27px;
}

.font-size-28 {
  font-size: 28px;
}

.font-size-29 {
  font-size: 29px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-31 {
  font-size: 31px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-33 {
  font-size: 33px;
}

.font-size-34 {
  font-size: 34px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-36 {
  font-size: 36px;
}

.font-size-37 {
  font-size: 37px;
}

.font-size-38 {
  font-size: 38px;
}

.font-size-39 {
  font-size: 39px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-41 {
  font-size: 41px;
}

.font-size-42 {
  font-size: 42px;
}

.font-size-43 {
  font-size: 43px;
}

.font-size-44 {
  font-size: 44px;
}

.font-size-45 {
  font-size: 45px;
}

.font-size-46 {
  font-size: 46px;
}

.font-size-47 {
  font-size: 47px;
}

.font-size-48 {
  font-size: 48px;
}

.font-size-49 {
  font-size: 49px;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-51 {
  font-size: 51px;
}

.font-size-52 {
  font-size: 52px;
}

.font-size-53 {
  font-size: 53px;
}

.font-size-54 {
  font-size: 54px;
}

.font-size-55 {
  font-size: 55px;
}

.font-size-56 {
  font-size: 56px;
}

.font-size-57 {
  font-size: 57px;
}

.font-size-58 {
  font-size: 58px;
}

.font-size-59 {
  font-size: 59px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-61 {
  font-size: 61px;
}

.font-size-62 {
  font-size: 62px;
}

.font-size-63 {
  font-size: 63px;
}

.font-size-64 {
  font-size: 64px;
}

.font-size-65 {
  font-size: 65px;
}

.font-size-66 {
  font-size: 66px;
}

.font-size-67 {
  font-size: 67px;
}

.font-size-68 {
  font-size: 68px;
}

.font-size-69 {
  font-size: 69px;
}

.font-size-70 {
  font-size: 70px;
}

.font-size-71 {
  font-size: 71px;
}

.font-size-72 {
  font-size: 72px;
}

.font-size-73 {
  font-size: 73px;
}

.font-size-74 {
  font-size: 74px;
}

.font-size-75 {
  font-size: 75px;
}

@media screen and (min-width: 577px) {
  .w-sm-5p {
    width: 5%;
  }
  .w-sm-10p {
    width: 10%;
  }
  .w-sm-15p {
    width: 15%;
  }
  .w-sm-20p {
    width: 20%;
  }
  .w-sm-25p {
    width: 25%;
  }
  .w-sm-30p {
    width: 30%;
  }
  .w-sm-35p {
    width: 35%;
  }
  .w-sm-40p {
    width: 40%;
  }
  .w-sm-45p {
    width: 45%;
  }
  .w-sm-50p {
    width: 50%;
  }
  .w-sm-55p {
    width: 55%;
  }
  .w-sm-60p {
    width: 60%;
  }
  .w-sm-65p {
    width: 65%;
  }
  .w-sm-70p {
    width: 70%;
  }
  .w-sm-75p {
    width: 75%;
  }
  .w-sm-80p {
    width: 80%;
  }
  .w-sm-85p {
    width: 85%;
  }
  .w-sm-90p {
    width: 90%;
  }
  .w-sm-95p {
    width: 95%;
  }
  .w-sm-100p {
    width: 100%;
  }
  .w-sm-auto {
    width: auto;
  }
  .t-sm-left {
    text-align: left;
  }
  .t-sm-center {
    text-align: center;
  }
  .t-sm-right {
    text-align: right;
  }
  .t-sm-justify {
    text-align: justify;
  }
  .f-sm-wrap {
    flex-wrap: wrap;
  }
  .f-sm-nowrap {
    flex-wrap: nowrap;
  }
  .justify-content-sm-left {
    justify-content: left;
  }
  .justify-content-sm-flex-start {
    justify-content: flex-start;
  }
  .justify-content-sm-flex-end {
    justify-content: flex-end;
  }
  .justify-content-sm-right {
    justify-content: right;
  }
  .justify-content-sm-center {
    justify-content: center;
  }
  .justify-content-sm-space-between {
    justify-content: space-between;
  }
  .justify-content-sm-space-around {
    justify-content: space-around;
  }
  .justify-content-sm-space-evenly {
    justify-content: space-evenly;
  }
  .align-item-sm-center {
    align-items: center;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline {
    display: inline;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  .d-sm-none {
    display: none;
  }
  .m-sm-auto {
    margin: auto;
  }
  .font-weight-sm-normal {
    font-weight: normal;
  }
  .font-weight-sm-bold {
    font-weight: bold;
  }
  .font-weight-sm-bolder {
    font-weight: bolder;
  }
  .order-sm-1 {
    order: 1;
  }
  .order-sm-2 {
    order: 2;
  }
  .order-sm-3 {
    order: 3;
  }
  .order-sm-4 {
    order: 4;
  }
  .order-sm-5 {
    order: 5;
  }
  .m-sm-top-0 {
    margin-top: 0px;
  }
  .m-sm-top-1 {
    margin-top: 10px;
  }
  .m-sm-top-2 {
    margin-top: 20px;
  }
  .m-sm-top-3 {
    margin-top: 30px;
  }
  .m-sm-top-4 {
    margin-top: 40px;
  }
  .m-sm-top-5 {
    margin-top: 50px;
  }
  .m-sm-top-6 {
    margin-top: 60px;
  }
  .m-sm-bot-0 {
    margin-bottom: 0px;
  }
  .m-sm-bot-1 {
    margin-bottom: 10px;
  }
  .m-sm-bot-2 {
    margin-bottom: 20px;
  }
  .m-sm-bot-3 {
    margin-bottom: 30px;
  }
  .m-sm-bot-4 {
    margin-bottom: 40px;
  }
  .m-sm-bot-5 {
    margin-bottom: 50px;
  }
  .m-sm-bot-6 {
    margin-bottom: 60px;
  }
  .m-sm-left-0 {
    margin-left: 0px;
  }
  .m-sm-left-1 {
    margin-left: 10px;
  }
  .m-sm-left-2 {
    margin-left: 20px;
  }
  .m-sm-left-3 {
    margin-left: 30px;
  }
  .m-sm-left-4 {
    margin-left: 40px;
  }
  .m-sm-left-5 {
    margin-left: 50px;
  }
  .m-sm-left-6 {
    margin-left: 60px;
  }
  .m-sm-right-0 {
    margin-right: 0px;
  }
  .m-sm-right-1 {
    margin-right: 10px;
  }
  .m-sm-right-2 {
    margin-right: 20px;
  }
  .m-sm-right-3 {
    margin-right: 30px;
  }
  .m-sm-right-4 {
    margin-right: 40px;
  }
  .m-sm-right-5 {
    margin-right: 50px;
  }
  .m-sm-right-6 {
    margin-right: 60px;
  }
  .m-sm-y-0 {
    margin: 0px 0;
  }
  .m-sm-y-1 {
    margin: 10px 0;
  }
  .m-sm-y-2 {
    margin: 20px 0;
  }
  .m-sm-y-3 {
    margin: 30px 0;
  }
  .m-sm-y-4 {
    margin: 40px 0;
  }
  .m-sm-y-5 {
    margin: 50px 0;
  }
  .m-sm-y-6 {
    margin: 60px 0;
  }
  .m-sm-x-0 {
    margin: 0 0px;
  }
  .m-sm-x-1 {
    margin: 0 10px;
  }
  .m-sm-x-2 {
    margin: 0 20px;
  }
  .m-sm-x-3 {
    margin: 0 30px;
  }
  .m-sm-x-4 {
    margin: 0 40px;
  }
  .m-sm-x-5 {
    margin: 0 50px;
  }
  .m-sm-x-6 {
    margin: 0 60px;
  }
  .m-sm-0 {
    margin: 0px 0px;
  }
  .m-sm-1 {
    margin: 10px 10px;
  }
  .m-sm-2 {
    margin: 20px 20px;
  }
  .m-sm-3 {
    margin: 30px 30px;
  }
  .m-sm-4 {
    margin: 40px 40px;
  }
  .m-sm-5 {
    margin: 50px 50px;
  }
  .m-sm-6 {
    margin: 60px 60px;
  }
  .p-sm-top-0 {
    padding-top: 0px;
  }
  .p-sm-top-1 {
    padding-top: 10px;
  }
  .p-sm-top-2 {
    padding-top: 20px;
  }
  .p-sm-top-3 {
    padding-top: 30px;
  }
  .p-sm-top-4 {
    padding-top: 40px;
  }
  .p-sm-top-5 {
    padding-top: 50px;
  }
  .p-sm-top-6 {
    padding-top: 60px;
  }
  .p-sm-bot-0 {
    padding-bottom: 0px;
  }
  .p-sm-bot-1 {
    padding-bottom: 10px;
  }
  .p-sm-bot-2 {
    padding-bottom: 20px;
  }
  .p-sm-bot-3 {
    padding-bottom: 30px;
  }
  .p-sm-bot-4 {
    padding-bottom: 40px;
  }
  .p-sm-bot-5 {
    padding-bottom: 50px;
  }
  .p-sm-bot-6 {
    padding-bottom: 60px;
  }
  .p-sm-left-0 {
    padding-left: 0px;
  }
  .p-sm-left-1 {
    padding-left: 10px;
  }
  .p-sm-left-2 {
    padding-left: 20px;
  }
  .p-sm-left-3 {
    padding-left: 30px;
  }
  .p-sm-left-4 {
    padding-left: 40px;
  }
  .p-sm-left-5 {
    padding-left: 50px;
  }
  .p-sm-left-6 {
    padding-left: 60px;
  }
  .p-sm-right-0 {
    padding-right: 0px;
  }
  .p-sm-right-1 {
    padding-right: 10px;
  }
  .p-sm-right-2 {
    padding-right: 20px;
  }
  .p-sm-right-3 {
    padding-right: 30px;
  }
  .p-sm-right-4 {
    padding-right: 40px;
  }
  .p-sm-right-5 {
    padding-right: 50px;
  }
  .p-sm-right-6 {
    padding-right: 60px;
  }
  .p-sm-y-0 {
    padding: 0px 0;
  }
  .p-sm-y-1 {
    padding: 10px 0;
  }
  .p-sm-y-2 {
    padding: 20px 0;
  }
  .p-sm-y-3 {
    padding: 30px 0;
  }
  .p-sm-y-4 {
    padding: 40px 0;
  }
  .p-sm-y-5 {
    padding: 50px 0;
  }
  .p-sm-y-6 {
    padding: 60px 0;
  }
  .p-sm-x-0 {
    padding: 0 0px;
  }
  .p-sm-x-1 {
    padding: 0 10px;
  }
  .p-sm-x-2 {
    padding: 0 20px;
  }
  .p-sm-x-3 {
    padding: 0 30px;
  }
  .p-sm-x-4 {
    padding: 0 40px;
  }
  .p-sm-x-5 {
    padding: 0 50px;
  }
  .p-sm-x-6 {
    padding: 0 60px;
  }
  .p-sm-0 {
    padding: 0px 0px;
  }
  .p-sm-1 {
    padding: 10px 10px;
  }
  .p-sm-2 {
    padding: 20px 20px;
  }
  .p-sm-3 {
    padding: 30px 30px;
  }
  .p-sm-4 {
    padding: 40px 40px;
  }
  .p-sm-5 {
    padding: 50px 50px;
  }
  .p-sm-6 {
    padding: 60px 60px;
  }
  .font-size-sm-1 {
    font-size: 1px;
  }
  .font-size-sm-2 {
    font-size: 2px;
  }
  .font-size-sm-3 {
    font-size: 3px;
  }
  .font-size-sm-4 {
    font-size: 4px;
  }
  .font-size-sm-5 {
    font-size: 5px;
  }
  .font-size-sm-6 {
    font-size: 6px;
  }
  .font-size-sm-7 {
    font-size: 7px;
  }
  .font-size-sm-8 {
    font-size: 8px;
  }
  .font-size-sm-9 {
    font-size: 9px;
  }
  .font-size-sm-10 {
    font-size: 10px;
  }
  .font-size-sm-11 {
    font-size: 11px;
  }
  .font-size-sm-12 {
    font-size: 12px;
  }
  .font-size-sm-13 {
    font-size: 13px;
  }
  .font-size-sm-14 {
    font-size: 14px;
  }
  .font-size-sm-15 {
    font-size: 15px;
  }
  .font-size-sm-16 {
    font-size: 16px;
  }
  .font-size-sm-17 {
    font-size: 17px;
  }
  .font-size-sm-18 {
    font-size: 18px;
  }
  .font-size-sm-19 {
    font-size: 19px;
  }
  .font-size-sm-20 {
    font-size: 20px;
  }
  .font-size-sm-21 {
    font-size: 21px;
  }
  .font-size-sm-22 {
    font-size: 22px;
  }
  .font-size-sm-23 {
    font-size: 23px;
  }
  .font-size-sm-24 {
    font-size: 24px;
  }
  .font-size-sm-25 {
    font-size: 25px;
  }
  .font-size-sm-26 {
    font-size: 26px;
  }
  .font-size-sm-27 {
    font-size: 27px;
  }
  .font-size-sm-28 {
    font-size: 28px;
  }
  .font-size-sm-29 {
    font-size: 29px;
  }
  .font-size-sm-30 {
    font-size: 30px;
  }
  .font-size-sm-31 {
    font-size: 31px;
  }
  .font-size-sm-32 {
    font-size: 32px;
  }
  .font-size-sm-33 {
    font-size: 33px;
  }
  .font-size-sm-34 {
    font-size: 34px;
  }
  .font-size-sm-35 {
    font-size: 35px;
  }
  .font-size-sm-36 {
    font-size: 36px;
  }
  .font-size-sm-37 {
    font-size: 37px;
  }
  .font-size-sm-38 {
    font-size: 38px;
  }
  .font-size-sm-39 {
    font-size: 39px;
  }
  .font-size-sm-40 {
    font-size: 40px;
  }
  .font-size-sm-41 {
    font-size: 41px;
  }
  .font-size-sm-42 {
    font-size: 42px;
  }
  .font-size-sm-43 {
    font-size: 43px;
  }
  .font-size-sm-44 {
    font-size: 44px;
  }
  .font-size-sm-45 {
    font-size: 45px;
  }
  .font-size-sm-46 {
    font-size: 46px;
  }
  .font-size-sm-47 {
    font-size: 47px;
  }
  .font-size-sm-48 {
    font-size: 48px;
  }
  .font-size-sm-49 {
    font-size: 49px;
  }
  .font-size-sm-50 {
    font-size: 50px;
  }
  .font-size-sm-51 {
    font-size: 51px;
  }
  .font-size-sm-52 {
    font-size: 52px;
  }
  .font-size-sm-53 {
    font-size: 53px;
  }
  .font-size-sm-54 {
    font-size: 54px;
  }
  .font-size-sm-55 {
    font-size: 55px;
  }
  .font-size-sm-56 {
    font-size: 56px;
  }
  .font-size-sm-57 {
    font-size: 57px;
  }
  .font-size-sm-58 {
    font-size: 58px;
  }
  .font-size-sm-59 {
    font-size: 59px;
  }
  .font-size-sm-60 {
    font-size: 60px;
  }
  .font-size-sm-61 {
    font-size: 61px;
  }
  .font-size-sm-62 {
    font-size: 62px;
  }
  .font-size-sm-63 {
    font-size: 63px;
  }
  .font-size-sm-64 {
    font-size: 64px;
  }
  .font-size-sm-65 {
    font-size: 65px;
  }
  .font-size-sm-66 {
    font-size: 66px;
  }
  .font-size-sm-67 {
    font-size: 67px;
  }
  .font-size-sm-68 {
    font-size: 68px;
  }
  .font-size-sm-69 {
    font-size: 69px;
  }
  .font-size-sm-70 {
    font-size: 70px;
  }
  .font-size-sm-71 {
    font-size: 71px;
  }
  .font-size-sm-72 {
    font-size: 72px;
  }
  .font-size-sm-73 {
    font-size: 73px;
  }
  .font-size-sm-74 {
    font-size: 74px;
  }
  .font-size-sm-75 {
    font-size: 75px;
  }
}
@media screen and (min-width: 760px) {
  .w-md-5p {
    width: 5%;
  }
  .w-md-10p {
    width: 10%;
  }
  .w-md-15p {
    width: 15%;
  }
  .w-md-20p {
    width: 20%;
  }
  .w-md-25p {
    width: 25%;
  }
  .w-md-30p {
    width: 30%;
  }
  .w-md-35p {
    width: 35%;
  }
  .w-md-40p {
    width: 40%;
  }
  .w-md-45p {
    width: 45%;
  }
  .w-md-50p {
    width: 50%;
  }
  .w-md-55p {
    width: 55%;
  }
  .w-md-60p {
    width: 60%;
  }
  .w-md-65p {
    width: 65%;
  }
  .w-md-70p {
    width: 70%;
  }
  .w-md-75p {
    width: 75%;
  }
  .w-md-80p {
    width: 80%;
  }
  .w-md-85p {
    width: 85%;
  }
  .w-md-90p {
    width: 90%;
  }
  .w-md-95p {
    width: 95%;
  }
  .w-md-100p {
    width: 100%;
  }
  .w-md-auto {
    width: auto;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .t-md-left {
    text-align: left;
  }
  .t-md-center {
    text-align: center;
  }
  .t-md-right {
    text-align: right;
  }
  .t-md-justify {
    text-align: justify;
  }
  .f-md-wrap {
    flex-wrap: wrap;
  }
  .f-md-nowrap {
    flex-wrap: nowrap;
  }
  .justify-content-md-left {
    justify-content: left;
  }
  .justify-content-md-flex-start {
    justify-content: flex-start;
  }
  .justify-content-md-flex-end {
    justify-content: flex-end;
  }
  .justify-content-md-right {
    justify-content: right;
  }
  .justify-content-md-center {
    justify-content: center;
  }
  .justify-content-md-space-between {
    justify-content: space-between;
  }
  .justify-content-md-space-around {
    justify-content: space-around;
  }
  .justify-content-md-space-evenly {
    justify-content: space-evenly;
  }
  .align-item-md-center {
    align-items: center;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  .d-md-none {
    display: none;
  }
  .m-md-auto {
    margin: auto;
  }
  .font-weight-md-normal {
    font-weight: normal;
  }
  .font-weight-md-bold {
    font-weight: bold;
  }
  .font-weight-md-bolder {
    font-weight: bolder;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .m-md-top-0 {
    margin-top: 0px;
  }
  .m-md-top-1 {
    margin-top: 10px;
  }
  .m-md-top-2 {
    margin-top: 20px;
  }
  .m-md-top-3 {
    margin-top: 30px;
  }
  .m-md-top-4 {
    margin-top: 40px;
  }
  .m-md-top-5 {
    margin-top: 50px;
  }
  .m-md-top-6 {
    margin-top: 60px;
  }
  .m-md-bot-0 {
    margin-bottom: 0px;
  }
  .m-md-bot-1 {
    margin-bottom: 10px;
  }
  .m-md-bot-2 {
    margin-bottom: 20px;
  }
  .m-md-bot-3 {
    margin-bottom: 30px;
  }
  .m-md-bot-4 {
    margin-bottom: 40px;
  }
  .m-md-bot-5 {
    margin-bottom: 50px;
  }
  .m-md-bot-6 {
    margin-bottom: 60px;
  }
  .m-md-left-0 {
    margin-left: 0px;
  }
  .m-md-left-1 {
    margin-left: 10px;
  }
  .m-md-left-2 {
    margin-left: 20px;
  }
  .m-md-left-3 {
    margin-left: 30px;
  }
  .m-md-left-4 {
    margin-left: 40px;
  }
  .m-md-left-5 {
    margin-left: 50px;
  }
  .m-md-left-6 {
    margin-left: 60px;
  }
  .m-md-right-0 {
    margin-right: 0px;
  }
  .m-md-right-1 {
    margin-right: 10px;
  }
  .m-md-right-2 {
    margin-right: 20px;
  }
  .m-md-right-3 {
    margin-right: 30px;
  }
  .m-md-right-4 {
    margin-right: 40px;
  }
  .m-md-right-5 {
    margin-right: 50px;
  }
  .m-md-right-6 {
    margin-right: 60px;
  }
  .m-md-y-0 {
    margin: 0px 0;
  }
  .m-md-y-1 {
    margin: 10px 0;
  }
  .m-md-y-2 {
    margin: 20px 0;
  }
  .m-md-y-3 {
    margin: 30px 0;
  }
  .m-md-y-4 {
    margin: 40px 0;
  }
  .m-md-y-5 {
    margin: 50px 0;
  }
  .m-md-y-6 {
    margin: 60px 0;
  }
  .m-md-x-0 {
    margin: 0 0px;
  }
  .m-md-x-1 {
    margin: 0 10px;
  }
  .m-md-x-2 {
    margin: 0 20px;
  }
  .m-md-x-3 {
    margin: 0 30px;
  }
  .m-md-x-4 {
    margin: 0 40px;
  }
  .m-md-x-5 {
    margin: 0 50px;
  }
  .m-md-x-6 {
    margin: 0 60px;
  }
  .m-md-0 {
    margin: 0px 0px;
  }
  .m-md-1 {
    margin: 10px 10px;
  }
  .m-md-2 {
    margin: 20px 20px;
  }
  .m-md-3 {
    margin: 30px 30px;
  }
  .m-md-4 {
    margin: 40px 40px;
  }
  .m-md-5 {
    margin: 50px 50px;
  }
  .m-md-6 {
    margin: 60px 60px;
  }
  .p-md-top-0 {
    padding-top: 0px;
  }
  .p-md-top-1 {
    padding-top: 10px;
  }
  .p-md-top-2 {
    padding-top: 20px;
  }
  .p-md-top-3 {
    padding-top: 30px;
  }
  .p-md-top-4 {
    padding-top: 40px;
  }
  .p-md-top-5 {
    padding-top: 50px;
  }
  .p-md-top-6 {
    padding-top: 60px;
  }
  .p-md-bot-0 {
    padding-bottom: 0px;
  }
  .p-md-bot-1 {
    padding-bottom: 10px;
  }
  .p-md-bot-2 {
    padding-bottom: 20px;
  }
  .p-md-bot-3 {
    padding-bottom: 30px;
  }
  .p-md-bot-4 {
    padding-bottom: 40px;
  }
  .p-md-bot-5 {
    padding-bottom: 50px;
  }
  .p-md-bot-6 {
    padding-bottom: 60px;
  }
  .p-md-left-0 {
    padding-left: 0px;
  }
  .p-md-left-1 {
    padding-left: 10px;
  }
  .p-md-left-2 {
    padding-left: 20px;
  }
  .p-md-left-3 {
    padding-left: 30px;
  }
  .p-md-left-4 {
    padding-left: 40px;
  }
  .p-md-left-5 {
    padding-left: 50px;
  }
  .p-md-left-6 {
    padding-left: 60px;
  }
  .p-md-right-0 {
    padding-right: 0px;
  }
  .p-md-right-1 {
    padding-right: 10px;
  }
  .p-md-right-2 {
    padding-right: 20px;
  }
  .p-md-right-3 {
    padding-right: 30px;
  }
  .p-md-right-4 {
    padding-right: 40px;
  }
  .p-md-right-5 {
    padding-right: 50px;
  }
  .p-md-right-6 {
    padding-right: 60px;
  }
  .p-md-y-0 {
    padding: 0px 0;
  }
  .p-md-y-1 {
    padding: 10px 0;
  }
  .p-md-y-2 {
    padding: 20px 0;
  }
  .p-md-y-3 {
    padding: 30px 0;
  }
  .p-md-y-4 {
    padding: 40px 0;
  }
  .p-md-y-5 {
    padding: 50px 0;
  }
  .p-md-y-6 {
    padding: 60px 0;
  }
  .p-md-x-0 {
    padding: 0 0px;
  }
  .p-md-x-1 {
    padding: 0 10px;
  }
  .p-md-x-2 {
    padding: 0 20px;
  }
  .p-md-x-3 {
    padding: 0 30px;
  }
  .p-md-x-4 {
    padding: 0 40px;
  }
  .p-md-x-5 {
    padding: 0 50px;
  }
  .p-md-x-6 {
    padding: 0 60px;
  }
  .p-md-0 {
    padding: 0px 0px;
  }
  .p-md-1 {
    padding: 10px 10px;
  }
  .p-md-2 {
    padding: 20px 20px;
  }
  .p-md-3 {
    padding: 30px 30px;
  }
  .p-md-4 {
    padding: 40px 40px;
  }
  .p-md-5 {
    padding: 50px 50px;
  }
  .p-md-6 {
    padding: 60px 60px;
  }
  .font-size-md-1 {
    font-size: 1px;
  }
  .font-size-md-2 {
    font-size: 2px;
  }
  .font-size-md-3 {
    font-size: 3px;
  }
  .font-size-md-4 {
    font-size: 4px;
  }
  .font-size-md-5 {
    font-size: 5px;
  }
  .font-size-md-6 {
    font-size: 6px;
  }
  .font-size-md-7 {
    font-size: 7px;
  }
  .font-size-md-8 {
    font-size: 8px;
  }
  .font-size-md-9 {
    font-size: 9px;
  }
  .font-size-md-10 {
    font-size: 10px;
  }
  .font-size-md-11 {
    font-size: 11px;
  }
  .font-size-md-12 {
    font-size: 12px;
  }
  .font-size-md-13 {
    font-size: 13px;
  }
  .font-size-md-14 {
    font-size: 14px;
  }
  .font-size-md-15 {
    font-size: 15px;
  }
  .font-size-md-16 {
    font-size: 16px;
  }
  .font-size-md-17 {
    font-size: 17px;
  }
  .font-size-md-18 {
    font-size: 18px;
  }
  .font-size-md-19 {
    font-size: 19px;
  }
  .font-size-md-20 {
    font-size: 20px;
  }
  .font-size-md-21 {
    font-size: 21px;
  }
  .font-size-md-22 {
    font-size: 22px;
  }
  .font-size-md-23 {
    font-size: 23px;
  }
  .font-size-md-24 {
    font-size: 24px;
  }
  .font-size-md-25 {
    font-size: 25px;
  }
  .font-size-md-26 {
    font-size: 26px;
  }
  .font-size-md-27 {
    font-size: 27px;
  }
  .font-size-md-28 {
    font-size: 28px;
  }
  .font-size-md-29 {
    font-size: 29px;
  }
  .font-size-md-30 {
    font-size: 30px;
  }
  .font-size-md-31 {
    font-size: 31px;
  }
  .font-size-md-32 {
    font-size: 32px;
  }
  .font-size-md-33 {
    font-size: 33px;
  }
  .font-size-md-34 {
    font-size: 34px;
  }
  .font-size-md-35 {
    font-size: 35px;
  }
  .font-size-md-36 {
    font-size: 36px;
  }
  .font-size-md-37 {
    font-size: 37px;
  }
  .font-size-md-38 {
    font-size: 38px;
  }
  .font-size-md-39 {
    font-size: 39px;
  }
  .font-size-md-40 {
    font-size: 40px;
  }
  .font-size-md-41 {
    font-size: 41px;
  }
  .font-size-md-42 {
    font-size: 42px;
  }
  .font-size-md-43 {
    font-size: 43px;
  }
  .font-size-md-44 {
    font-size: 44px;
  }
  .font-size-md-45 {
    font-size: 45px;
  }
  .font-size-md-46 {
    font-size: 46px;
  }
  .font-size-md-47 {
    font-size: 47px;
  }
  .font-size-md-48 {
    font-size: 48px;
  }
  .font-size-md-49 {
    font-size: 49px;
  }
  .font-size-md-50 {
    font-size: 50px;
  }
  .font-size-md-51 {
    font-size: 51px;
  }
  .font-size-md-52 {
    font-size: 52px;
  }
  .font-size-md-53 {
    font-size: 53px;
  }
  .font-size-md-54 {
    font-size: 54px;
  }
  .font-size-md-55 {
    font-size: 55px;
  }
  .font-size-md-56 {
    font-size: 56px;
  }
  .font-size-md-57 {
    font-size: 57px;
  }
  .font-size-md-58 {
    font-size: 58px;
  }
  .font-size-md-59 {
    font-size: 59px;
  }
  .font-size-md-60 {
    font-size: 60px;
  }
  .font-size-md-61 {
    font-size: 61px;
  }
  .font-size-md-62 {
    font-size: 62px;
  }
  .font-size-md-63 {
    font-size: 63px;
  }
  .font-size-md-64 {
    font-size: 64px;
  }
  .font-size-md-65 {
    font-size: 65px;
  }
  .font-size-md-66 {
    font-size: 66px;
  }
  .font-size-md-67 {
    font-size: 67px;
  }
  .font-size-md-68 {
    font-size: 68px;
  }
  .font-size-md-69 {
    font-size: 69px;
  }
  .font-size-md-70 {
    font-size: 70px;
  }
  .font-size-md-71 {
    font-size: 71px;
  }
  .font-size-md-72 {
    font-size: 72px;
  }
  .font-size-md-73 {
    font-size: 73px;
  }
  .font-size-md-74 {
    font-size: 74px;
  }
  .font-size-md-75 {
    font-size: 75px;
  }
}
@media screen and (min-width: 992px) {
  .w-lg-5p {
    width: 5%;
  }
  .w-lg-10p {
    width: 10%;
  }
  .w-lg-15p {
    width: 15%;
  }
  .w-lg-20p {
    width: 20%;
  }
  .w-lg-25p {
    width: 25%;
  }
  .w-lg-30p {
    width: 30%;
  }
  .w-lg-35p {
    width: 35%;
  }
  .w-lg-40p {
    width: 40%;
  }
  .w-lg-45p {
    width: 45%;
  }
  .w-lg-50p {
    width: 50%;
  }
  .w-lg-55p {
    width: 55%;
  }
  .w-lg-60p {
    width: 60%;
  }
  .w-lg-65p {
    width: 65%;
  }
  .w-lg-70p {
    width: 70%;
  }
  .w-lg-75p {
    width: 75%;
  }
  .w-lg-80p {
    width: 80%;
  }
  .w-lg-85p {
    width: 85%;
  }
  .w-lg-90p {
    width: 90%;
  }
  .w-lg-95p {
    width: 95%;
  }
  .w-lg-100p {
    width: 100%;
  }
  .w-lg-auto {
    width: auto;
  }
  .t-lg-left {
    text-align: left;
  }
  .t-lg-center {
    text-align: center;
  }
  .t-lg-right {
    text-align: right;
  }
  .t-lg-justify {
    text-align: justify;
  }
  .f-lg-wrap {
    flex-wrap: wrap;
  }
  .f-lg-nowrap {
    flex-wrap: nowrap;
  }
  .justify-content-lg-left {
    justify-content: left;
  }
  .justify-content-lg-flex-start {
    justify-content: flex-start;
  }
  .justify-content-lg-flex-end {
    justify-content: flex-end;
  }
  .justify-content-lg-right {
    justify-content: right;
  }
  .justify-content-lg-center {
    justify-content: center;
  }
  .justify-content-lg-space-between {
    justify-content: space-between;
  }
  .justify-content-lg-space-around {
    justify-content: space-around;
  }
  .justify-content-lg-space-evenly {
    justify-content: space-evenly;
  }
  .align-item-lg-center {
    align-items: center;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  .d-lg-none {
    display: none;
  }
  .m-lg-auto {
    margin: auto;
  }
  .font-weight-lg-normal {
    font-weight: normal;
  }
  .font-weight-lg-bold {
    font-weight: bold;
  }
  .font-weight-lg-bolder {
    font-weight: bolder;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .m-lg-top-0 {
    margin-top: 0px;
  }
  .m-lg-top-1 {
    margin-top: 10px;
  }
  .m-lg-top-2 {
    margin-top: 20px;
  }
  .m-lg-top-3 {
    margin-top: 30px;
  }
  .m-lg-top-4 {
    margin-top: 40px;
  }
  .m-lg-top-5 {
    margin-top: 50px;
  }
  .m-lg-top-6 {
    margin-top: 60px;
  }
  .m-lg-bot-0 {
    margin-bottom: 0px;
  }
  .m-lg-bot-1 {
    margin-bottom: 10px;
  }
  .m-lg-bot-2 {
    margin-bottom: 20px;
  }
  .m-lg-bot-3 {
    margin-bottom: 30px;
  }
  .m-lg-bot-4 {
    margin-bottom: 40px;
  }
  .m-lg-bot-5 {
    margin-bottom: 50px;
  }
  .m-lg-bot-6 {
    margin-bottom: 60px;
  }
  .m-lg-left-0 {
    margin-left: 0px;
  }
  .m-lg-left-1 {
    margin-left: 10px;
  }
  .m-lg-left-2 {
    margin-left: 20px;
  }
  .m-lg-left-3 {
    margin-left: 30px;
  }
  .m-lg-left-4 {
    margin-left: 40px;
  }
  .m-lg-left-5 {
    margin-left: 50px;
  }
  .m-lg-left-6 {
    margin-left: 60px;
  }
  .m-lg-right-0 {
    margin-right: 0px;
  }
  .m-lg-right-1 {
    margin-right: 10px;
  }
  .m-lg-right-2 {
    margin-right: 20px;
  }
  .m-lg-right-3 {
    margin-right: 30px;
  }
  .m-lg-right-4 {
    margin-right: 40px;
  }
  .m-lg-right-5 {
    margin-right: 50px;
  }
  .m-lg-right-6 {
    margin-right: 60px;
  }
  .m-lg-y-0 {
    margin: 0px 0;
  }
  .m-lg-y-1 {
    margin: 10px 0;
  }
  .m-lg-y-2 {
    margin: 20px 0;
  }
  .m-lg-y-3 {
    margin: 30px 0;
  }
  .m-lg-y-4 {
    margin: 40px 0;
  }
  .m-lg-y-5 {
    margin: 50px 0;
  }
  .m-lg-y-6 {
    margin: 60px 0;
  }
  .m-lg-x-0 {
    margin: 0 0px;
  }
  .m-lg-x-1 {
    margin: 0 10px;
  }
  .m-lg-x-2 {
    margin: 0 20px;
  }
  .m-lg-x-3 {
    margin: 0 30px;
  }
  .m-lg-x-4 {
    margin: 0 40px;
  }
  .m-lg-x-5 {
    margin: 0 50px;
  }
  .m-lg-x-6 {
    margin: 0 60px;
  }
  .m-lg-0 {
    margin: 0px 0px;
  }
  .m-lg-1 {
    margin: 10px 10px;
  }
  .m-lg-2 {
    margin: 20px 20px;
  }
  .m-lg-3 {
    margin: 30px 30px;
  }
  .m-lg-4 {
    margin: 40px 40px;
  }
  .m-lg-5 {
    margin: 50px 50px;
  }
  .m-lg-6 {
    margin: 60px 60px;
  }
  .p-lg-top-0 {
    padding-top: 0px;
  }
  .p-lg-top-1 {
    padding-top: 10px;
  }
  .p-lg-top-2 {
    padding-top: 20px;
  }
  .p-lg-top-3 {
    padding-top: 30px;
  }
  .p-lg-top-4 {
    padding-top: 40px;
  }
  .p-lg-top-5 {
    padding-top: 50px;
  }
  .p-lg-top-6 {
    padding-top: 60px;
  }
  .p-lg-bot-0 {
    padding-bottom: 0px;
  }
  .p-lg-bot-1 {
    padding-bottom: 10px;
  }
  .p-lg-bot-2 {
    padding-bottom: 20px;
  }
  .p-lg-bot-3 {
    padding-bottom: 30px;
  }
  .p-lg-bot-4 {
    padding-bottom: 40px;
  }
  .p-lg-bot-5 {
    padding-bottom: 50px;
  }
  .p-lg-bot-6 {
    padding-bottom: 60px;
  }
  .p-lg-left-0 {
    padding-left: 0px;
  }
  .p-lg-left-1 {
    padding-left: 10px;
  }
  .p-lg-left-2 {
    padding-left: 20px;
  }
  .p-lg-left-3 {
    padding-left: 30px;
  }
  .p-lg-left-4 {
    padding-left: 40px;
  }
  .p-lg-left-5 {
    padding-left: 50px;
  }
  .p-lg-left-6 {
    padding-left: 60px;
  }
  .p-lg-right-0 {
    padding-right: 0px;
  }
  .p-lg-right-1 {
    padding-right: 10px;
  }
  .p-lg-right-2 {
    padding-right: 20px;
  }
  .p-lg-right-3 {
    padding-right: 30px;
  }
  .p-lg-right-4 {
    padding-right: 40px;
  }
  .p-lg-right-5 {
    padding-right: 50px;
  }
  .p-lg-right-6 {
    padding-right: 60px;
  }
  .p-lg-y-0 {
    padding: 0px 0;
  }
  .p-lg-y-1 {
    padding: 10px 0;
  }
  .p-lg-y-2 {
    padding: 20px 0;
  }
  .p-lg-y-3 {
    padding: 30px 0;
  }
  .p-lg-y-4 {
    padding: 40px 0;
  }
  .p-lg-y-5 {
    padding: 50px 0;
  }
  .p-lg-y-6 {
    padding: 60px 0;
  }
  .p-lg-x-0 {
    padding: 0 0px;
  }
  .p-lg-x-1 {
    padding: 0 10px;
  }
  .p-lg-x-2 {
    padding: 0 20px;
  }
  .p-lg-x-3 {
    padding: 0 30px;
  }
  .p-lg-x-4 {
    padding: 0 40px;
  }
  .p-lg-x-5 {
    padding: 0 50px;
  }
  .p-lg-x-6 {
    padding: 0 60px;
  }
  .p-lg-0 {
    padding: 0px 0px;
  }
  .p-lg-1 {
    padding: 10px 10px;
  }
  .p-lg-2 {
    padding: 20px 20px;
  }
  .p-lg-3 {
    padding: 30px 30px;
  }
  .p-lg-4 {
    padding: 40px 40px;
  }
  .p-lg-5 {
    padding: 50px 50px;
  }
  .p-lg-6 {
    padding: 60px 60px;
  }
  .font-size-lg-1 {
    font-size: 1px;
  }
  .font-size-lg-2 {
    font-size: 2px;
  }
  .font-size-lg-3 {
    font-size: 3px;
  }
  .font-size-lg-4 {
    font-size: 4px;
  }
  .font-size-lg-5 {
    font-size: 5px;
  }
  .font-size-lg-6 {
    font-size: 6px;
  }
  .font-size-lg-7 {
    font-size: 7px;
  }
  .font-size-lg-8 {
    font-size: 8px;
  }
  .font-size-lg-9 {
    font-size: 9px;
  }
  .font-size-lg-10 {
    font-size: 10px;
  }
  .font-size-lg-11 {
    font-size: 11px;
  }
  .font-size-lg-12 {
    font-size: 12px;
  }
  .font-size-lg-13 {
    font-size: 13px;
  }
  .font-size-lg-14 {
    font-size: 14px;
  }
  .font-size-lg-15 {
    font-size: 15px;
  }
  .font-size-lg-16 {
    font-size: 16px;
  }
  .font-size-lg-17 {
    font-size: 17px;
  }
  .font-size-lg-18 {
    font-size: 18px;
  }
  .font-size-lg-19 {
    font-size: 19px;
  }
  .font-size-lg-20 {
    font-size: 20px;
  }
  .font-size-lg-21 {
    font-size: 21px;
  }
  .font-size-lg-22 {
    font-size: 22px;
  }
  .font-size-lg-23 {
    font-size: 23px;
  }
  .font-size-lg-24 {
    font-size: 24px;
  }
  .font-size-lg-25 {
    font-size: 25px;
  }
  .font-size-lg-26 {
    font-size: 26px;
  }
  .font-size-lg-27 {
    font-size: 27px;
  }
  .font-size-lg-28 {
    font-size: 28px;
  }
  .font-size-lg-29 {
    font-size: 29px;
  }
  .font-size-lg-30 {
    font-size: 30px;
  }
  .font-size-lg-31 {
    font-size: 31px;
  }
  .font-size-lg-32 {
    font-size: 32px;
  }
  .font-size-lg-33 {
    font-size: 33px;
  }
  .font-size-lg-34 {
    font-size: 34px;
  }
  .font-size-lg-35 {
    font-size: 35px;
  }
  .font-size-lg-36 {
    font-size: 36px;
  }
  .font-size-lg-37 {
    font-size: 37px;
  }
  .font-size-lg-38 {
    font-size: 38px;
  }
  .font-size-lg-39 {
    font-size: 39px;
  }
  .font-size-lg-40 {
    font-size: 40px;
  }
  .font-size-lg-41 {
    font-size: 41px;
  }
  .font-size-lg-42 {
    font-size: 42px;
  }
  .font-size-lg-43 {
    font-size: 43px;
  }
  .font-size-lg-44 {
    font-size: 44px;
  }
  .font-size-lg-45 {
    font-size: 45px;
  }
  .font-size-lg-46 {
    font-size: 46px;
  }
  .font-size-lg-47 {
    font-size: 47px;
  }
  .font-size-lg-48 {
    font-size: 48px;
  }
  .font-size-lg-49 {
    font-size: 49px;
  }
  .font-size-lg-50 {
    font-size: 50px;
  }
  .font-size-lg-51 {
    font-size: 51px;
  }
  .font-size-lg-52 {
    font-size: 52px;
  }
  .font-size-lg-53 {
    font-size: 53px;
  }
  .font-size-lg-54 {
    font-size: 54px;
  }
  .font-size-lg-55 {
    font-size: 55px;
  }
  .font-size-lg-56 {
    font-size: 56px;
  }
  .font-size-lg-57 {
    font-size: 57px;
  }
  .font-size-lg-58 {
    font-size: 58px;
  }
  .font-size-lg-59 {
    font-size: 59px;
  }
  .font-size-lg-60 {
    font-size: 60px;
  }
  .font-size-lg-61 {
    font-size: 61px;
  }
  .font-size-lg-62 {
    font-size: 62px;
  }
  .font-size-lg-63 {
    font-size: 63px;
  }
  .font-size-lg-64 {
    font-size: 64px;
  }
  .font-size-lg-65 {
    font-size: 65px;
  }
  .font-size-lg-66 {
    font-size: 66px;
  }
  .font-size-lg-67 {
    font-size: 67px;
  }
  .font-size-lg-68 {
    font-size: 68px;
  }
  .font-size-lg-69 {
    font-size: 69px;
  }
  .font-size-lg-70 {
    font-size: 70px;
  }
  .font-size-lg-71 {
    font-size: 71px;
  }
  .font-size-lg-72 {
    font-size: 72px;
  }
  .font-size-lg-73 {
    font-size: 73px;
  }
  .font-size-lg-74 {
    font-size: 74px;
  }
  .font-size-lg-75 {
    font-size: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .w-xl-5p {
    width: 5%;
  }
  .w-xl-10p {
    width: 10%;
  }
  .w-xl-15p {
    width: 15%;
  }
  .w-xl-20p {
    width: 20%;
  }
  .w-xl-25p {
    width: 25%;
  }
  .w-xl-30p {
    width: 30%;
  }
  .w-xl-35p {
    width: 35%;
  }
  .w-xl-40p {
    width: 40%;
  }
  .w-xl-45p {
    width: 45%;
  }
  .w-xl-50p {
    width: 50%;
  }
  .w-xl-55p {
    width: 55%;
  }
  .w-xl-60p {
    width: 60%;
  }
  .w-xl-65p {
    width: 65%;
  }
  .w-xl-70p {
    width: 70%;
  }
  .w-xl-75p {
    width: 75%;
  }
  .w-xl-80p {
    width: 80%;
  }
  .w-xl-85p {
    width: 85%;
  }
  .w-xl-90p {
    width: 90%;
  }
  .w-xl-95p {
    width: 95%;
  }
  .w-xl-100p {
    width: 100%;
  }
  .w-xl-auto {
    width: auto;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .t-xl-left {
    text-align: left;
  }
  .t-xl-center {
    text-align: center;
  }
  .t-xl-right {
    text-align: right;
  }
  .t-xl-justify {
    text-align: justify;
  }
  .f-xl-wrap {
    flex-wrap: wrap;
  }
  .f-xl-nowrap {
    flex-wrap: nowrap;
  }
  .justify-content-xl-left {
    justify-content: left;
  }
  .justify-content-xl-flex-start {
    justify-content: flex-start;
  }
  .justify-content-xl-flex-end {
    justify-content: flex-end;
  }
  .justify-content-xl-right {
    justify-content: right;
  }
  .justify-content-xl-center {
    justify-content: center;
  }
  .justify-content-xl-space-between {
    justify-content: space-between;
  }
  .justify-content-xl-space-around {
    justify-content: space-around;
  }
  .justify-content-xl-space-evenly {
    justify-content: space-evenly;
  }
  .align-item-xl-center {
    align-items: center;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-inline {
    display: inline;
  }
  .d-xl-inline-block {
    display: inline-block;
  }
  .d-xl-none {
    display: none;
  }
  .m-xl-auto {
    margin: auto;
  }
  .font-weight-xl-normal {
    font-weight: normal;
  }
  .font-weight-xl-bold {
    font-weight: bold;
  }
  .font-weight-xl-bolder {
    font-weight: bolder;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .m-xl-top-0 {
    margin-top: 0px;
  }
  .m-xl-top-1 {
    margin-top: 10px;
  }
  .m-xl-top-2 {
    margin-top: 20px;
  }
  .m-xl-top-3 {
    margin-top: 30px;
  }
  .m-xl-top-4 {
    margin-top: 40px;
  }
  .m-xl-top-5 {
    margin-top: 50px;
  }
  .m-xl-top-6 {
    margin-top: 60px;
  }
  .m-xl-bot-0 {
    margin-bottom: 0px;
  }
  .m-xl-bot-1 {
    margin-bottom: 10px;
  }
  .m-xl-bot-2 {
    margin-bottom: 20px;
  }
  .m-xl-bot-3 {
    margin-bottom: 30px;
  }
  .m-xl-bot-4 {
    margin-bottom: 40px;
  }
  .m-xl-bot-5 {
    margin-bottom: 50px;
  }
  .m-xl-bot-6 {
    margin-bottom: 60px;
  }
  .m-xl-left-0 {
    margin-left: 0px;
  }
  .m-xl-left-1 {
    margin-left: 10px;
  }
  .m-xl-left-2 {
    margin-left: 20px;
  }
  .m-xl-left-3 {
    margin-left: 30px;
  }
  .m-xl-left-4 {
    margin-left: 40px;
  }
  .m-xl-left-5 {
    margin-left: 50px;
  }
  .m-xl-left-6 {
    margin-left: 60px;
  }
  .m-xl-right-0 {
    margin-right: 0px;
  }
  .m-xl-right-1 {
    margin-right: 10px;
  }
  .m-xl-right-2 {
    margin-right: 20px;
  }
  .m-xl-right-3 {
    margin-right: 30px;
  }
  .m-xl-right-4 {
    margin-right: 40px;
  }
  .m-xl-right-5 {
    margin-right: 50px;
  }
  .m-xl-right-6 {
    margin-right: 60px;
  }
  .m-xl-y-0 {
    margin: 0px 0;
  }
  .m-xl-y-1 {
    margin: 10px 0;
  }
  .m-xl-y-2 {
    margin: 20px 0;
  }
  .m-xl-y-3 {
    margin: 30px 0;
  }
  .m-xl-y-4 {
    margin: 40px 0;
  }
  .m-xl-y-5 {
    margin: 50px 0;
  }
  .m-xl-y-6 {
    margin: 60px 0;
  }
  .m-xl-x-0 {
    margin: 0 0px;
  }
  .m-xl-x-1 {
    margin: 0 10px;
  }
  .m-xl-x-2 {
    margin: 0 20px;
  }
  .m-xl-x-3 {
    margin: 0 30px;
  }
  .m-xl-x-4 {
    margin: 0 40px;
  }
  .m-xl-x-5 {
    margin: 0 50px;
  }
  .m-xl-x-6 {
    margin: 0 60px;
  }
  .m-xl-0 {
    margin: 0px 0px;
  }
  .m-xl-1 {
    margin: 10px 10px;
  }
  .m-xl-2 {
    margin: 20px 20px;
  }
  .m-xl-3 {
    margin: 30px 30px;
  }
  .m-xl-4 {
    margin: 40px 40px;
  }
  .m-xl-5 {
    margin: 50px 50px;
  }
  .m-xl-6 {
    margin: 60px 60px;
  }
  .p-xl-top-0 {
    padding-top: 0px;
  }
  .p-xl-top-1 {
    padding-top: 10px;
  }
  .p-xl-top-2 {
    padding-top: 20px;
  }
  .p-xl-top-3 {
    padding-top: 30px;
  }
  .p-xl-top-4 {
    padding-top: 40px;
  }
  .p-xl-top-5 {
    padding-top: 50px;
  }
  .p-xl-top-6 {
    padding-top: 60px;
  }
  .p-xl-bot-0 {
    padding-bottom: 0px;
  }
  .p-xl-bot-1 {
    padding-bottom: 10px;
  }
  .p-xl-bot-2 {
    padding-bottom: 20px;
  }
  .p-xl-bot-3 {
    padding-bottom: 30px;
  }
  .p-xl-bot-4 {
    padding-bottom: 40px;
  }
  .p-xl-bot-5 {
    padding-bottom: 50px;
  }
  .p-xl-bot-6 {
    padding-bottom: 60px;
  }
  .p-xl-left-0 {
    padding-left: 0px;
  }
  .p-xl-left-1 {
    padding-left: 10px;
  }
  .p-xl-left-2 {
    padding-left: 20px;
  }
  .p-xl-left-3 {
    padding-left: 30px;
  }
  .p-xl-left-4 {
    padding-left: 40px;
  }
  .p-xl-left-5 {
    padding-left: 50px;
  }
  .p-xl-left-6 {
    padding-left: 60px;
  }
  .p-xl-right-0 {
    padding-right: 0px;
  }
  .p-xl-right-1 {
    padding-right: 10px;
  }
  .p-xl-right-2 {
    padding-right: 20px;
  }
  .p-xl-right-3 {
    padding-right: 30px;
  }
  .p-xl-right-4 {
    padding-right: 40px;
  }
  .p-xl-right-5 {
    padding-right: 50px;
  }
  .p-xl-right-6 {
    padding-right: 60px;
  }
  .p-xl-y-0 {
    padding: 0px 0;
  }
  .p-xl-y-1 {
    padding: 10px 0;
  }
  .p-xl-y-2 {
    padding: 20px 0;
  }
  .p-xl-y-3 {
    padding: 30px 0;
  }
  .p-xl-y-4 {
    padding: 40px 0;
  }
  .p-xl-y-5 {
    padding: 50px 0;
  }
  .p-xl-y-6 {
    padding: 60px 0;
  }
  .p-xl-x-0 {
    padding: 0 0px;
  }
  .p-xl-x-1 {
    padding: 0 10px;
  }
  .p-xl-x-2 {
    padding: 0 20px;
  }
  .p-xl-x-3 {
    padding: 0 30px;
  }
  .p-xl-x-4 {
    padding: 0 40px;
  }
  .p-xl-x-5 {
    padding: 0 50px;
  }
  .p-xl-x-6 {
    padding: 0 60px;
  }
  .p-xl-0 {
    padding: 0px 0px;
  }
  .p-xl-1 {
    padding: 10px 10px;
  }
  .p-xl-2 {
    padding: 20px 20px;
  }
  .p-xl-3 {
    padding: 30px 30px;
  }
  .p-xl-4 {
    padding: 40px 40px;
  }
  .p-xl-5 {
    padding: 50px 50px;
  }
  .p-xl-6 {
    padding: 60px 60px;
  }
  .font-size-xl-1 {
    font-size: 1px;
  }
  .font-size-xl-2 {
    font-size: 2px;
  }
  .font-size-xl-3 {
    font-size: 3px;
  }
  .font-size-xl-4 {
    font-size: 4px;
  }
  .font-size-xl-5 {
    font-size: 5px;
  }
  .font-size-xl-6 {
    font-size: 6px;
  }
  .font-size-xl-7 {
    font-size: 7px;
  }
  .font-size-xl-8 {
    font-size: 8px;
  }
  .font-size-xl-9 {
    font-size: 9px;
  }
  .font-size-xl-10 {
    font-size: 10px;
  }
  .font-size-xl-11 {
    font-size: 11px;
  }
  .font-size-xl-12 {
    font-size: 12px;
  }
  .font-size-xl-13 {
    font-size: 13px;
  }
  .font-size-xl-14 {
    font-size: 14px;
  }
  .font-size-xl-15 {
    font-size: 15px;
  }
  .font-size-xl-16 {
    font-size: 16px;
  }
  .font-size-xl-17 {
    font-size: 17px;
  }
  .font-size-xl-18 {
    font-size: 18px;
  }
  .font-size-xl-19 {
    font-size: 19px;
  }
  .font-size-xl-20 {
    font-size: 20px;
  }
  .font-size-xl-21 {
    font-size: 21px;
  }
  .font-size-xl-22 {
    font-size: 22px;
  }
  .font-size-xl-23 {
    font-size: 23px;
  }
  .font-size-xl-24 {
    font-size: 24px;
  }
  .font-size-xl-25 {
    font-size: 25px;
  }
  .font-size-xl-26 {
    font-size: 26px;
  }
  .font-size-xl-27 {
    font-size: 27px;
  }
  .font-size-xl-28 {
    font-size: 28px;
  }
  .font-size-xl-29 {
    font-size: 29px;
  }
  .font-size-xl-30 {
    font-size: 30px;
  }
  .font-size-xl-31 {
    font-size: 31px;
  }
  .font-size-xl-32 {
    font-size: 32px;
  }
  .font-size-xl-33 {
    font-size: 33px;
  }
  .font-size-xl-34 {
    font-size: 34px;
  }
  .font-size-xl-35 {
    font-size: 35px;
  }
  .font-size-xl-36 {
    font-size: 36px;
  }
  .font-size-xl-37 {
    font-size: 37px;
  }
  .font-size-xl-38 {
    font-size: 38px;
  }
  .font-size-xl-39 {
    font-size: 39px;
  }
  .font-size-xl-40 {
    font-size: 40px;
  }
  .font-size-xl-41 {
    font-size: 41px;
  }
  .font-size-xl-42 {
    font-size: 42px;
  }
  .font-size-xl-43 {
    font-size: 43px;
  }
  .font-size-xl-44 {
    font-size: 44px;
  }
  .font-size-xl-45 {
    font-size: 45px;
  }
  .font-size-xl-46 {
    font-size: 46px;
  }
  .font-size-xl-47 {
    font-size: 47px;
  }
  .font-size-xl-48 {
    font-size: 48px;
  }
  .font-size-xl-49 {
    font-size: 49px;
  }
  .font-size-xl-50 {
    font-size: 50px;
  }
  .font-size-xl-51 {
    font-size: 51px;
  }
  .font-size-xl-52 {
    font-size: 52px;
  }
  .font-size-xl-53 {
    font-size: 53px;
  }
  .font-size-xl-54 {
    font-size: 54px;
  }
  .font-size-xl-55 {
    font-size: 55px;
  }
  .font-size-xl-56 {
    font-size: 56px;
  }
  .font-size-xl-57 {
    font-size: 57px;
  }
  .font-size-xl-58 {
    font-size: 58px;
  }
  .font-size-xl-59 {
    font-size: 59px;
  }
  .font-size-xl-60 {
    font-size: 60px;
  }
  .font-size-xl-61 {
    font-size: 61px;
  }
  .font-size-xl-62 {
    font-size: 62px;
  }
  .font-size-xl-63 {
    font-size: 63px;
  }
  .font-size-xl-64 {
    font-size: 64px;
  }
  .font-size-xl-65 {
    font-size: 65px;
  }
  .font-size-xl-66 {
    font-size: 66px;
  }
  .font-size-xl-67 {
    font-size: 67px;
  }
  .font-size-xl-68 {
    font-size: 68px;
  }
  .font-size-xl-69 {
    font-size: 69px;
  }
  .font-size-xl-70 {
    font-size: 70px;
  }
  .font-size-xl-71 {
    font-size: 71px;
  }
  .font-size-xl-72 {
    font-size: 72px;
  }
  .font-size-xl-73 {
    font-size: 73px;
  }
  .font-size-xl-74 {
    font-size: 74px;
  }
  .font-size-xl-75 {
    font-size: 75px;
  }
}
@media screen and (min-width: 1400px) {
  .w-xxl-5p {
    width: 5%;
  }
  .w-xxl-10p {
    width: 10%;
  }
  .w-xxl-15p {
    width: 15%;
  }
  .w-xxl-20p {
    width: 20%;
  }
  .w-xxl-25p {
    width: 25%;
  }
  .w-xxl-30p {
    width: 30%;
  }
  .w-xxl-35p {
    width: 35%;
  }
  .w-xxl-40p {
    width: 40%;
  }
  .w-xxl-45p {
    width: 45%;
  }
  .w-xxl-50p {
    width: 50%;
  }
  .w-xxl-55p {
    width: 55%;
  }
  .w-xxl-60p {
    width: 60%;
  }
  .w-xxl-65p {
    width: 65%;
  }
  .w-xxl-70p {
    width: 70%;
  }
  .w-xxl-75p {
    width: 75%;
  }
  .w-xxl-80p {
    width: 80%;
  }
  .w-xxl-85p {
    width: 85%;
  }
  .w-xxl-90p {
    width: 90%;
  }
  .w-xxl-95p {
    width: 95%;
  }
  .w-xxl-100p {
    width: 100%;
  }
  .w-xxl-auto {
    width: auto;
  }
  .t-xxl-left {
    text-align: left;
  }
  .t-xxl-center {
    text-align: center;
  }
  .t-xxl-right {
    text-align: right;
  }
  .t-xxl-justify {
    text-align: justify;
  }
  .f-xxl-wrap {
    flex-wrap: wrap;
  }
  .f-xxl-nowrap {
    flex-wrap: nowrap;
  }
  .justify-content-xxl-left {
    justify-content: left;
  }
  .justify-content-xxl-flex-start {
    justify-content: flex-start;
  }
  .justify-content-xxl-flex-end {
    justify-content: flex-end;
  }
  .justify-content-xxl-right {
    justify-content: right;
  }
  .justify-content-xxl-center {
    justify-content: center;
  }
  .justify-content-xxl-space-between {
    justify-content: space-between;
  }
  .justify-content-xxl-space-around {
    justify-content: space-around;
  }
  .justify-content-xxl-space-evenly {
    justify-content: space-evenly;
  }
  .align-item-xxl-center {
    align-items: center;
  }
  .d-xxl-flex {
    display: flex;
  }
  .d-xxl-block {
    display: block;
  }
  .d-xxl-inline {
    display: inline;
  }
  .d-xxl-inline-block {
    display: inline-block;
  }
  .d-xxl-none {
    display: none;
  }
  .m-xxl-auto {
    margin: auto;
  }
  .font-weight-xxl-normal {
    font-weight: normal;
  }
  .font-weight-xxl-bold {
    font-weight: bold;
  }
  .font-weight-xxl-bolder {
    font-weight: bolder;
  }
  .order-xxl-1 {
    order: 1;
  }
  .order-xxl-2 {
    order: 2;
  }
  .order-xxl-3 {
    order: 3;
  }
  .order-xxl-4 {
    order: 4;
  }
  .order-xxl-5 {
    order: 5;
  }
  .m-xxl-top-0 {
    margin-top: 0px;
  }
  .m-xxl-top-1 {
    margin-top: 10px;
  }
  .m-xxl-top-2 {
    margin-top: 20px;
  }
  .m-xxl-top-3 {
    margin-top: 30px;
  }
  .m-xxl-top-4 {
    margin-top: 40px;
  }
  .m-xxl-top-5 {
    margin-top: 50px;
  }
  .m-xxl-top-6 {
    margin-top: 60px;
  }
  .m-xxl-bot-0 {
    margin-bottom: 0px;
  }
  .m-xxl-bot-1 {
    margin-bottom: 10px;
  }
  .m-xxl-bot-2 {
    margin-bottom: 20px;
  }
  .m-xxl-bot-3 {
    margin-bottom: 30px;
  }
  .m-xxl-bot-4 {
    margin-bottom: 40px;
  }
  .m-xxl-bot-5 {
    margin-bottom: 50px;
  }
  .m-xxl-bot-6 {
    margin-bottom: 60px;
  }
  .m-xxl-left-0 {
    margin-left: 0px;
  }
  .m-xxl-left-1 {
    margin-left: 10px;
  }
  .m-xxl-left-2 {
    margin-left: 20px;
  }
  .m-xxl-left-3 {
    margin-left: 30px;
  }
  .m-xxl-left-4 {
    margin-left: 40px;
  }
  .m-xxl-left-5 {
    margin-left: 50px;
  }
  .m-xxl-left-6 {
    margin-left: 60px;
  }
  .m-xxl-right-0 {
    margin-right: 0px;
  }
  .m-xxl-right-1 {
    margin-right: 10px;
  }
  .m-xxl-right-2 {
    margin-right: 20px;
  }
  .m-xxl-right-3 {
    margin-right: 30px;
  }
  .m-xxl-right-4 {
    margin-right: 40px;
  }
  .m-xxl-right-5 {
    margin-right: 50px;
  }
  .m-xxl-right-6 {
    margin-right: 60px;
  }
  .m-xxl-y-0 {
    margin: 0px 0;
  }
  .m-xxl-y-1 {
    margin: 10px 0;
  }
  .m-xxl-y-2 {
    margin: 20px 0;
  }
  .m-xxl-y-3 {
    margin: 30px 0;
  }
  .m-xxl-y-4 {
    margin: 40px 0;
  }
  .m-xxl-y-5 {
    margin: 50px 0;
  }
  .m-xxl-y-6 {
    margin: 60px 0;
  }
  .m-xxl-x-0 {
    margin: 0 0px;
  }
  .m-xxl-x-1 {
    margin: 0 10px;
  }
  .m-xxl-x-2 {
    margin: 0 20px;
  }
  .m-xxl-x-3 {
    margin: 0 30px;
  }
  .m-xxl-x-4 {
    margin: 0 40px;
  }
  .m-xxl-x-5 {
    margin: 0 50px;
  }
  .m-xxl-x-6 {
    margin: 0 60px;
  }
  .m-xxl-0 {
    margin: 0px 0px;
  }
  .m-xxl-1 {
    margin: 10px 10px;
  }
  .m-xxl-2 {
    margin: 20px 20px;
  }
  .m-xxl-3 {
    margin: 30px 30px;
  }
  .m-xxl-4 {
    margin: 40px 40px;
  }
  .m-xxl-5 {
    margin: 50px 50px;
  }
  .m-xxl-6 {
    margin: 60px 60px;
  }
  .p-xxl-top-0 {
    padding-top: 0px;
  }
  .p-xxl-top-1 {
    padding-top: 10px;
  }
  .p-xxl-top-2 {
    padding-top: 20px;
  }
  .p-xxl-top-3 {
    padding-top: 30px;
  }
  .p-xxl-top-4 {
    padding-top: 40px;
  }
  .p-xxl-top-5 {
    padding-top: 50px;
  }
  .p-xxl-top-6 {
    padding-top: 60px;
  }
  .p-xxl-bot-0 {
    padding-bottom: 0px;
  }
  .p-xxl-bot-1 {
    padding-bottom: 10px;
  }
  .p-xxl-bot-2 {
    padding-bottom: 20px;
  }
  .p-xxl-bot-3 {
    padding-bottom: 30px;
  }
  .p-xxl-bot-4 {
    padding-bottom: 40px;
  }
  .p-xxl-bot-5 {
    padding-bottom: 50px;
  }
  .p-xxl-bot-6 {
    padding-bottom: 60px;
  }
  .p-xxl-left-0 {
    padding-left: 0px;
  }
  .p-xxl-left-1 {
    padding-left: 10px;
  }
  .p-xxl-left-2 {
    padding-left: 20px;
  }
  .p-xxl-left-3 {
    padding-left: 30px;
  }
  .p-xxl-left-4 {
    padding-left: 40px;
  }
  .p-xxl-left-5 {
    padding-left: 50px;
  }
  .p-xxl-left-6 {
    padding-left: 60px;
  }
  .p-xxl-right-0 {
    padding-right: 0px;
  }
  .p-xxl-right-1 {
    padding-right: 10px;
  }
  .p-xxl-right-2 {
    padding-right: 20px;
  }
  .p-xxl-right-3 {
    padding-right: 30px;
  }
  .p-xxl-right-4 {
    padding-right: 40px;
  }
  .p-xxl-right-5 {
    padding-right: 50px;
  }
  .p-xxl-right-6 {
    padding-right: 60px;
  }
  .p-xxl-y-0 {
    padding: 0px 0;
  }
  .p-xxl-y-1 {
    padding: 10px 0;
  }
  .p-xxl-y-2 {
    padding: 20px 0;
  }
  .p-xxl-y-3 {
    padding: 30px 0;
  }
  .p-xxl-y-4 {
    padding: 40px 0;
  }
  .p-xxl-y-5 {
    padding: 50px 0;
  }
  .p-xxl-y-6 {
    padding: 60px 0;
  }
  .p-xxl-x-0 {
    padding: 0 0px;
  }
  .p-xxl-x-1 {
    padding: 0 10px;
  }
  .p-xxl-x-2 {
    padding: 0 20px;
  }
  .p-xxl-x-3 {
    padding: 0 30px;
  }
  .p-xxl-x-4 {
    padding: 0 40px;
  }
  .p-xxl-x-5 {
    padding: 0 50px;
  }
  .p-xxl-x-6 {
    padding: 0 60px;
  }
  .p-xxl-0 {
    padding: 0px 0px;
  }
  .p-xxl-1 {
    padding: 10px 10px;
  }
  .p-xxl-2 {
    padding: 20px 20px;
  }
  .p-xxl-3 {
    padding: 30px 30px;
  }
  .p-xxl-4 {
    padding: 40px 40px;
  }
  .p-xxl-5 {
    padding: 50px 50px;
  }
  .p-xxl-6 {
    padding: 60px 60px;
  }
  .font-size-xxl-1 {
    font-size: 1px;
  }
  .font-size-xxl-2 {
    font-size: 2px;
  }
  .font-size-xxl-3 {
    font-size: 3px;
  }
  .font-size-xxl-4 {
    font-size: 4px;
  }
  .font-size-xxl-5 {
    font-size: 5px;
  }
  .font-size-xxl-6 {
    font-size: 6px;
  }
  .font-size-xxl-7 {
    font-size: 7px;
  }
  .font-size-xxl-8 {
    font-size: 8px;
  }
  .font-size-xxl-9 {
    font-size: 9px;
  }
  .font-size-xxl-10 {
    font-size: 10px;
  }
  .font-size-xxl-11 {
    font-size: 11px;
  }
  .font-size-xxl-12 {
    font-size: 12px;
  }
  .font-size-xxl-13 {
    font-size: 13px;
  }
  .font-size-xxl-14 {
    font-size: 14px;
  }
  .font-size-xxl-15 {
    font-size: 15px;
  }
  .font-size-xxl-16 {
    font-size: 16px;
  }
  .font-size-xxl-17 {
    font-size: 17px;
  }
  .font-size-xxl-18 {
    font-size: 18px;
  }
  .font-size-xxl-19 {
    font-size: 19px;
  }
  .font-size-xxl-20 {
    font-size: 20px;
  }
  .font-size-xxl-21 {
    font-size: 21px;
  }
  .font-size-xxl-22 {
    font-size: 22px;
  }
  .font-size-xxl-23 {
    font-size: 23px;
  }
  .font-size-xxl-24 {
    font-size: 24px;
  }
  .font-size-xxl-25 {
    font-size: 25px;
  }
  .font-size-xxl-26 {
    font-size: 26px;
  }
  .font-size-xxl-27 {
    font-size: 27px;
  }
  .font-size-xxl-28 {
    font-size: 28px;
  }
  .font-size-xxl-29 {
    font-size: 29px;
  }
  .font-size-xxl-30 {
    font-size: 30px;
  }
  .font-size-xxl-31 {
    font-size: 31px;
  }
  .font-size-xxl-32 {
    font-size: 32px;
  }
  .font-size-xxl-33 {
    font-size: 33px;
  }
  .font-size-xxl-34 {
    font-size: 34px;
  }
  .font-size-xxl-35 {
    font-size: 35px;
  }
  .font-size-xxl-36 {
    font-size: 36px;
  }
  .font-size-xxl-37 {
    font-size: 37px;
  }
  .font-size-xxl-38 {
    font-size: 38px;
  }
  .font-size-xxl-39 {
    font-size: 39px;
  }
  .font-size-xxl-40 {
    font-size: 40px;
  }
  .font-size-xxl-41 {
    font-size: 41px;
  }
  .font-size-xxl-42 {
    font-size: 42px;
  }
  .font-size-xxl-43 {
    font-size: 43px;
  }
  .font-size-xxl-44 {
    font-size: 44px;
  }
  .font-size-xxl-45 {
    font-size: 45px;
  }
  .font-size-xxl-46 {
    font-size: 46px;
  }
  .font-size-xxl-47 {
    font-size: 47px;
  }
  .font-size-xxl-48 {
    font-size: 48px;
  }
  .font-size-xxl-49 {
    font-size: 49px;
  }
  .font-size-xxl-50 {
    font-size: 50px;
  }
  .font-size-xxl-51 {
    font-size: 51px;
  }
  .font-size-xxl-52 {
    font-size: 52px;
  }
  .font-size-xxl-53 {
    font-size: 53px;
  }
  .font-size-xxl-54 {
    font-size: 54px;
  }
  .font-size-xxl-55 {
    font-size: 55px;
  }
  .font-size-xxl-56 {
    font-size: 56px;
  }
  .font-size-xxl-57 {
    font-size: 57px;
  }
  .font-size-xxl-58 {
    font-size: 58px;
  }
  .font-size-xxl-59 {
    font-size: 59px;
  }
  .font-size-xxl-60 {
    font-size: 60px;
  }
  .font-size-xxl-61 {
    font-size: 61px;
  }
  .font-size-xxl-62 {
    font-size: 62px;
  }
  .font-size-xxl-63 {
    font-size: 63px;
  }
  .font-size-xxl-64 {
    font-size: 64px;
  }
  .font-size-xxl-65 {
    font-size: 65px;
  }
  .font-size-xxl-66 {
    font-size: 66px;
  }
  .font-size-xxl-67 {
    font-size: 67px;
  }
  .font-size-xxl-68 {
    font-size: 68px;
  }
  .font-size-xxl-69 {
    font-size: 69px;
  }
  .font-size-xxl-70 {
    font-size: 70px;
  }
  .font-size-xxl-71 {
    font-size: 71px;
  }
  .font-size-xxl-72 {
    font-size: 72px;
  }
  .font-size-xxl-73 {
    font-size: 73px;
  }
  .font-size-xxl-74 {
    font-size: 74px;
  }
  .font-size-xxl-75 {
    font-size: 75px;
  }
}/*# sourceMappingURL=master.css.map */